/target
*.json.gz
.venv*/
__pycache__/

# Dart
.dart_tool/

# JS
node_modules/
tests/bindings/js/lib/

# C#
**/bin/Debug/
**/obj/
tests/bindings/cs/lib/

# UniFFI generated bindings
uniffi/generated/
